<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
           <script
    data-greeting="مرحباً! كيف يمكننا مساعدتك اليوم؟"
    data-brand-image-url="https://raw.githubusercontent.com/khalilxg/images/main/robotsmall.svg"
    data-sponsor-link="https://clt.aibc.tn"
    data-sponsor-text="Powered by CLT"
    data-assistant-name="CLT Assistant"
    data-assistant-icon="https://raw.githubusercontent.com/khalilxg/images/main/robotsmall.svg"
    data-chat-icon="support"
    data-support-email="aimedia.flow@gmail.com"
  data-embed-id="3f01828b-350e-448e-92c3-b58c9282cc39"
  data-base-api-url="https://tn.aibc.tn/api/embed"
  src="https://tn.aibc.tn/embed/anythingllm-chat-widget.min.js">
  </script>
    </body>
</html>
